@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
font-family: 'Work Sans', sans-serif;
margin: 0px;
padding: 0px;

}
header{
    padding: 40px 240px;
    /* max-width: 192px; */
    /* height: 130px; */
    background: #FFF;
    /* background-color: aqua; */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* NavBar */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav_logo{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo p{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 

}

.nav_logo p > span{
    color: rgb(255, 66, 165);
}

.nav_logo img{
    width: 86.041px;
    height: 40px;
    /* border: 2px solid black; */
}
.dropdown{
    /* border: 1px solid red; */
}
.dropdown ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.dropdown ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.dropdown ul li a{
    text-decoration: none;
    color: black;
}

.nav_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    margin-left: 25px;
    padding: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 260px;
    height: 58px;
    background: rgba(11, 2, 35, 0.10)
    /* font: sans-serif; */
    
    

    
    
}

.nav_icons li a{
    /* padding: 15px, 24px; */
    text-align: center;
    font-size: 15px;

}


/* Main Banner*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid salmon; */
    gap: 20px;
}
.banner_text{
    display: grid;
    align-items: center;
    gap: 10px;
    background-image: url("../images/Group14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 3px solid black; */
    /* width: 800px;
    height: 600px; */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 800px;
    height: 600px;

}
.banner_text h4{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner_text h1{
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_text ul{
    display: grid;
    align-items: center;
    justify-content: center;
}
.banner_text ul li{
    padding: 15px;
    padding-left: 0px;
    list-style: none;

}
.banner_text ul li i{
    padding: 6px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner_btn{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}
.banner_btn button{
    border-radius: 50px;
    width: 156px;
    height: 65px;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    /* padding: 5px; */
    

}
#sign_btn{
    background-color: rgb(255, 66, 165);
}
#go_btn{
    background-color: #4EC5F7;

}
.banner_pic img{
    width: 100%;
}

/* Online Gamer */
.online_gamer{
    /* text-align: center; */
    max-width: 1920px;
    max-width: 5927px;
    

    
}
.online_gamer h1{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 1100px;
}
.online_gamer h1 >span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.online_gamer p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 15px;
}

.online_image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}
.online_image figcaption{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

  .container{
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    /* background-color: red; */
  }
  .ip{
    color: black;
    text-transform: uppercase;
    font-size: larger;
    
 }

  .container:hover .overlay{
    opacity: 1;
  }
  
.icon, .fa-play{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-play:hover {
    color: #eee;
  }


  /* Instant Play */
  .instant_play{
    margin-top: 100px;
    max-width: 1920px;
    max-width: 5927px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    height: 800px;

}

.instat_play_text > div{
    display: grid;
    /* border: 2px solid red; */
    position: relative;
    bottom: 200px;

}
  .instant_play h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */

  }
  .instant_play p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }

  .instant_play h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
#r55{
    width: 100%;
    height: 100%;
    flex-shrink: 0;

}
.inner_play{
    position: relative;
    bottom: 300px;
    right: 180px;
}

/* Carrer */
.carrer_text h1{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    text-align: center;

}
.carrer{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.carrer_text p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    /* text-align: center; */
    margin-left: 25px;

}
.carrer_list{
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
    
    
}
.carrer_list LI{
    list-style-type: none;
    padding: 5px;
}

.see_all_btn{
   
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color: #FFF;
    border: none;
    color: rgb(255, 66, 165);
    border-radius: 70px;
    height: 60px;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;

   
}

/* Games */
.games{
    padding: 50px;
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 200px;

}
.games div{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    
}
.p_games img{
    width: 60px;
    height: 60px;
    display: grid;
    align-items: center;

}
.p_games p{
    color: #0B0223;
    font-size: 18x;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.games div:hover{
    border: 3px solid rgb(255, 66, 165);
    color: rgb(255, 66, 165);
    border-radius: 55px;
}

.games div p:hover{
    /* border: 1px solid rgb(255, 66, 165); */
    color: rgb(255, 66, 165);
    cursor: pointer;
}
/* Footer */
footer{
    padding: 50px;
    background: #0B0223;
}
.footer_head{
    display: flex;
    color: #FFF;
    text-align: center; 
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer_head span{
    color: rgb(255, 66, 165);
}
.footer_text{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    /* justify-content: space-around; */
    color: #FFF;
    list-style: none;
    /* gap: 50px; */
    padding: 50px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer_icon{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 100px);
    list-style: none;
    padding: 15px;
}
.footer_text2{
    display: grid;
    grid-template-columns: repeat(4,200px);
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding:55px;
    
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
/* Responsive */
@media screen and (max-width: 576px) {
    header{
        padding: 5px;
        margin-top: 30px;
    }

        .nav{
            flex-direction: column;
            gap: 20px;
        }   
        
        .dropdown ul{
            flex-direction: column;
            gap: 20px;
        }
        .banner{
            flex-direction: column-reverse;
        }
        .online_gamer{
            flex-direction: column;
        }
        .online_image{
            grid-template-columns: 1fr;
        }
        .online_gamer h1{
            width: 300px;
            font-size: 20px;
        }
        .online_gamer h1>span{
            width: 300px;
            font-size: 20px;
        }
        .online_gamer p{
            font-size: 10px;
        }
        .instant_play{
            flex-direction: column;
            margin-top: 350px;
        }
        /* .instat_play_text > div{
            grid-template-columns: 1fr;
        
        } */
        .instant_play_img img{
            width: 100%
            /* padding: 50px */

        }
        .inner_play{
            width: 40%;
            /* padding: 50px; */
            left: 0px;
            top: -90px;

            
        }
        .carrer{
            margin-top: 150px;
            flex-direction: column;
           
        }
        .carrer_text{
            flex-direction: column;
            font-size: 15px;
        }
        .carrer_list{
            font-size: 15px;
        }
        .carrer_img img{
            width: 100%;
        }
        .carrer_text p{
            font-size: 10px;
        }
        .games{
            grid-template-columns: repeat(3, 1fr);
            height: 100%;
        }
        .games div{
            flex-direction: column;
        }
        .games p{
            font-size: 10px;
        }
        .footer_text{
            grid-template-columns: repeat(3, 1fr);
            font-size: 9px;
            gap: 20px;
        }
        .footer_icon{
            grid-template-columns: repeat(3, 90px);
            /* gap: 40px; */
            /* justify-content: center; */
            margin-left: 5px;
            gap: 20px;
            
        }
        .footer_text2{
            display: grid;
            grid-template-columns: repeat(2,200px);
            gap: 20px;
        }
    }